<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
  <% include ./partials/_header %>
  <p>Below is the list of URLs in shortened forms</p>
      <% for(let shortURLS in userURLS) { %>

          <form method="POST" action="/urls/<%=shortURLS%>/delete">
            <tr>
            <td> <a href="/u/<%=shortURLS%>"> <%= shortURLS %> </a> </td>
            <td> <%= userURLS[shortURLS]["longURL"] %> </td>
            <td> <%= userURLS[shortURLS]["userID"] %> </td>
            <button type="submit">DELETE</button> <a href="/urls/<%=shortURLS%>">Edit</a>
            </tr>
          </form>
      <% } %>
  <a href="/urls/new">link for shortening a new URL</a>
  </body>
</html>